html {
  scroll-behavior: smooth;
  scroll-padding-top: 45px; /* height of sticky header */
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.main {
  margin-top: 45px;
}

footer {
  background-color:  #e0e0e0;
  margin: 0;
  padding: 16px;
}

footer a {
  display: block;
}

figure {

  width: 28%;
  text-align: center;
  margin: 0%;
}

figure img {
  width: 100%;
}

figcaption span {
  font-weight: bold;
  font-size: small;
}

div.screen {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.bgorange {
  color: white;
  animation: toOrange 0.5s forwards;
  padding: 0 20%;
  text-align: center;

}

.bgorange p {
  font-size: 150%;
}

@keyframes toOrange {
  from {background-color: inherit}
  to {background-color: #fc7c24;}
}

a {
  display: inline-block;
}

footer a:link,
footer a:visited,
section a:link,
section a:visited {
  color: #fc7c24;
  text-decoration: underline;

}

footer a:hover,
footer a:active,
section a:hover,
section a:active {
  background-color: #fc7c24;
  color: black;

}


footer ul.navlist li a,
section ul.navlist li a {
  display: list-item;
  padding: 6px 9px;

}

footer ul,
section ul {
  display: table;
}

a.button {
  font-size: initial;
  line-height: initial;
}

a.button:link,
a.button:visited {
  color: white;
  background-color: black;
  padding: 8px 12px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-top: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a.button:hover,
a.button:active {
  background-color: #fc7c24;
}

a.bookmark{
  display: none;
  color: white;
  background-color: black;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a.bookmark:hover,
a.bookmark:active {
  background-color: #fc7c24;
}

div.woman {
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  height: 60vmin;
  width: 80vmin; 
  left: 0; 

  background-size: auto 60vmin;
  background-image: url('../images/woman.svg');
  background-repeat: no-repeat;
  background-attachment:local;
  background-position-x: -60vmin;
  background-position-y: bottom;
  animation: flyin-left 0.5s forwards;
  animation-delay: 0s;
}

div.man {
  pointer-events: none;
  position: absolute;
  top: 16vh;
  height: 80vmin;
  width: 54vmin;
  right: 0;
  background-size: auto 80vmin;
  background-image: url('../images/man.svg');
  background-repeat: no-repeat;
  background-attachment:local;
  background-position-x: +60vmin;
  animation: flyin-right-man 0.5s forwards;
  animation-delay: 0s;  
}

img.whiteboard {
  pointer-events: none;

  position: absolute;
  top: 10vh;

  right: -0;



  height: 40vmin;
  opacity: 0;
  -webkit-animation: fadein 0.5s forwards;
  -webkit-animation-delay: 0;
  animation: fadein 0.5s forwards;
  animation-delay: 0;
}

img.question {
  position: absolute;

  bottom: 48vmin;
  left: 38vmin;

  bottom: -9vmin;
  left: -15vmin;
  width: 77vmin;
}

img.sectionimages {
  margin-top: 15px;
  max-width: 100%;
}

img.certifications {
  margin-top: 15px;
  max-width: 100%;
  max-height: 100px;
}

img.portrait {
  margin: 15px;
  width: 90%;

}

section a.article {
  background-color: #fafafa;
  padding: 15px;
  margin-left: 0;
  margin-bottom: 15px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: black;

  color: black;
  text-decoration: none;
}

section a.article:hover,
a.article:active {
  background-color: #fc7c24;
  color: black;

}

.article img.articlephoto {
  margin: 5px;

  width: 100%;
}

.article h3 {
  margin: 0;
}

.article p {
  margin: 0;
  white-space: normal;
  overflow: hidden;
  text-align: justify;
}

div.questiontxt {
  position: absolute;
  bottom: 48vmin;
  left: 38vmin;
  width: 56vmin;
  font-size: 4.5vmin;
  height: 22vmin;
  text-align: center;
  vertical-align: middle;
  display: table;

  opacity: 0;
  -webkit-animation: fadein 0.5s forwards;
  -webkit-animation-delay: 0.6s;
  animation: fadein 0.5s forwards;
  animation-delay: 0.6s;  
}

div.schedulecall {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 18%;
  display: none;
}

div.questiontxt h1 {
  font-size: 4.5vmin;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}

#questionlink {
  position: relative;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#questionlink:link,
#questionlink:visited {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#questionlink:hover,
#questionlink:active {
  background-color: #fc7c24;
  transition: 0.2s ease;
}

#questionlink:hover span, 
#questionlink:active span{
  color: white;
  transition: 0.2s ease;
}

#recommendationsdiv {
  background-color: #fafafa;
  height: 5em;
  border-radius: 50px;
  border: 2px solid #fc7c24;
  margin: auto;
  vertical-align: middle;
}

#recommendations {
  overflow: auto;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0 16px;
  height: inherit;
}

blockquote {
  height: 100%;
  margin: 0px;

}


section ul {
  list-style-type: square;
}

ul.navbar {
  z-index: 99;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-size: 26px;

  position: fixed;
  top: 0;
  width: 100%;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: left;
  padding: 2vmin 3vmin;
  text-decoration: none;


}

a{
  transition: 0.2s ease;
}

ul.navbar li a:hover:not(.active) {
  background-color: #585858;
}

.active {
  background-color: #fc7c24;
}

ul.navresponsive li:first-child a.active {
  background-color: black;
}



div.callendar {
  border: 1px solid #fc7c24;
  background-color: #fc7c24;
  border-radius: 5px;
  display: inline-block;
  line-height: 10px;
  margin: 0;
  padding: 0px 2px;
  color: white;
  text-align: center;
  padding-top: 1px;

}

div.callendar span {
  font-size: xx-small;
}

nav {
  /*STICKY NAVBAR
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;*/
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

img.fullwidth {
  width: 100%;
  z-index:-1;
  position: absolute;
  bottom: 0;
}

section {
  padding: 15px;
  font-weight: 400;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

div.event {
  background-color: #fafafa;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

section:nth-child(odd) {
  background: #e0e0e0;
}

section.contactform {
  padding: 0px;
  padding-top: 15px;
}

iframe {
  padding: 0;
  width: 100%;
}

@keyframes flyin-left {
  100% { 
    background-position-x: 0;
    opacity: 1; 
  };

}

@keyframes flyin-right-man {
  100% { 
    background-position-x: 0;
    opacity: 1; 
  };

}

@-webkit-keyframes flyin-right {
  100% { 
    right: 0;
    opacity: 1;
  };
}

@keyframes flyin-right {
  100% { 
    right: 0;
    opacity: 1; 
  };

}

@-webkit-keyframes flyin-bottom {
  100% { 
    bottom: 0;
    opacity: 1;
  };
}

@keyframes flyin-bottom {
  100% { 
    bottom: 0;
    opacity: 1; 
  };

}

@-webkit-keyframes fadein {
  100% { 
    opacity: 1;
  };
}

@keyframes fadein {
  100% { 
    opacity: 1; 
  };

}

@keyframes call {
  0%  {
    opacity: 1;
    transform:rotate(10deg);}
  5% {transform:rotate(-20deg);}
  10%  {transform:rotate(10deg);}
  15% {transform:rotate(-20deg);}
  20%  {transform:rotate(10deg);}
  25% {transform:rotate(-20deg);}
  30%  {transform:rotate(10deg);}
  35% {transform:rotate(-20deg);}
  40%  {transform:rotate(0deg);}
}

ul.navbar .bars {
  position: absolute;
  right: 0;
  top: 0;

}

ul.navresponsive li:not(:first-child) {
  display: none;
}
ul.navbar li.bars {
  float: right;
  display: block;
}

#questionlink span {
  color: #fc7c24;

}

/*carousel */
#carousel {
  padding: 0;
  background-color: black;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.carousel-wrapper {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.carousel-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0;
}

.carousel {
  display: flex;
  width: 1000%;
  animation: sliding 60s infinite;
}
.carousel div {
  width: 10%;
  height: 350px;
  background-size: cover;
  background-position: center;

}
.carousel .img1{
  background-image: url("../images/workshops/selected/img1.jfif");
}
.carousel .img2{
  background-image: url("../images/workshops/selected/img2.jfif");
}
.carousel .img3{
  background-image: url("../images/workshops/selected/img3.jfif");
}
.carousel .img4{
  background-image: url("../images/workshops/selected/img4.jfif");
}
.carousel .img5{
  background-image: url("../images/workshops/selected/img5.jfif");
}
.carousel .img6{
  background-image: url("../images/workshops/selected/img6.jfif");
}
.carousel .img7{
  background-image: url("../images/workshops/selected/img7.jfif");
}
.carousel .img8{
  background-image: url("../images/workshops/selected/img8.jfif");
}
.carousel .img9{
  background-image: url("../images/workshops/selected/img9.jfif");
}
.carousel .img10{
  background-image: url("../images/workshops/selected/img10.jfif");
}

@keyframes sliding {
 
  2% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-10%);
  }
  19% {
    transform: translateX(-20%);
  }
  28% {
    transform: translateX(-30%);
  }
  37% {
    transform: translateX(-40%);
  }
  46% {
    transform: translateX(-50%);
  }
  55% {
    transform: translateX(-60%);
  }
  64% {
    transform: translateX(-70%);
  }
  73% {
    transform: translateX(-80%);
  }
  82% {
    transform: translateX(-90%);
  }


}


@media (min-width: 600px) {
  /* For mobile phones: */
  html {
    scroll-padding-top: 5vw; /* height of sticky header */
  }
  .main {
    margin-top: 5vw;
  }

  ul.navbar {

    font-size: 3.2vw;
  }
  ul.navbar li {
    float: left;
    display: block;
  }

  ul.navbar li a {
    padding: 0.8vw 1.2vw;
  }

  ul.navresponsive li:not(:first-child) 
  {
    display: block;
  }

 
  
  ul.navresponsive li:first-child a.active {
    background-color: #fc7c24;
  }

  ul.navbar li.bars {
    display: none;
  }

  img.portrait {

    width: 180px;
  }
  .article img.articlephoto {
    height: 100px;
    width: 160px;
    object-fit: contain;
  }
}

.article_section {
  line-height: 1.6;
}

div.schedulecall .button {
  display: block;
}

@media (min-width: 800px) {
  /* For larger: */
  div.container {
    width: 60%;
    margin: auto;
  }

  div.schedulecall {
    display: block;

    bottom: -18%;
    opacity: 0;
    -webkit-animation: flyin-bottom 1s forwards;
    -webkit-animation-delay: 8s;
    animation: flyin-bottom 1s forwards;
    animation-delay: 8s;
  }

  div.schedulecall p {
    color: #fc7c24;
    margin: 0;
    font-size: 5vw;

    position: absolute;
    left: 2vw;
    bottom: 100%;
    opacity: 0;
    animation:call 2s ease-in-out infinite;
  }

  a.bookmark {
    display: inline-block;
    position: fixed;
    right: -30px;
    top: 120px;

    opacity: 0;
    -webkit-animation: flyin-right 0.5s forwards;
    -webkit-animation-delay: 0.5;
    animation: flyin-right 0.5s forwards;
    animation-delay: 0.5;

    transform: rotate(-90deg) translate(0, -100%);
    transform-origin: 100% 0;
}


  .article_section {
    padding-left: 8%;
    padding-right: 8%;
    font-size: 18px;
    line-height: 32px;
  }
}

@media only screen {
  html {
    -webkit-text-size-adjust: none;
  }
}

.fas .fab {
  margin: 2px;
  font-size: 1em;
  color: black;
}
